# Copy this file to .env and fill in your values
# NEVER commit the real .env file to GitHub

DATABASE_URL=postgresql+psycopg://postgres.xxxxx:YOUR_PASSWORD@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres

GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxx
